@charset "UTF-8";

body {
    overflow-x: hidden;
}

div.jsss.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

img#pc1, img#pc2{
    height: 640px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

img#pc2{
    opacity: 0;
}

img#phone1, img#phone2{
    width: 95vw;
    position: fixed;
    right: -200%;
}

img#phone2{
    opacity: 0;
}

img#none{
    width: 960px;
    height: 640px;
    opacity: 0;
}

img#test{
    position: fixed;
    right: -5000px;
}

