@charset "UTF-8";

body {
    overflow-x: hidden;
}

div.jsss.box{
    /*height: 70vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

img#pc1, img#pc2{
    /*width: 90vw;*/
    height: 640px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

img#pc2{
    opacity: 0;
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: auto;*/
}

img#phone1, img#phone2{
    width: 95vw;
    position: fixed;
    right: -200%;
}

img#phone2{
    opacity: 0;
}

img#none{
    width: 960px;
    height: 640px;
    opacity: 0;
}

img#test{
    position: fixed;
    right: -5000px;
}

@media screen and (max-width: 1000px){
    div.jsss.box{
        height: 150vw;
    }

    img#pc1, img#pc2{
        position: fixed;
        right: -2000vw;
    }

    img#phone1, img#phone2{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    img#phone2{
        opacity: 0;
    }

    img#none{
        height: 95vw;
    }
}